
{% extends "base.html" %}

{% block content %}


<body>
<h2> WallStreetBets Stock Sentiment Analysis</h2>
<h3> Web App made by Bishes Limbu</h3>
<div id = "intro">
    <p> 
        This webapp scrapes the popular WallStreetBets subreddit and live 
        Tweets to provide analytics for furture invesments in the Stock Market.
    </p>
</div>
<div id = "logos">
    <img id = "wlogo" src ='https://i.kym-cdn.com/entries/icons/original/000/033/559/cover1.jpg' height>
</div>

{% endblock %}
</body>
